body{
  background: url('../img/wall.jpeg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; /* Fallback */
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
section{
  margin: 10vh auto;
}
.ask_panel{
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  width: 40vw;
  height: 23vh;
  border-radius: 1em;
  background: var(--sg-);
  box-shadow: var(--shadow1-);
}
.ask_panel h3:first-child{
  margin: 0 auto 1em;
  color: var(--gr-);
  font-size: 2em;
  font-weight: 300;
  text-shadow: var(--text-sh-);
}
.question_panel{
  display: flex;
  margin: 1em auto;
  padding: 0.2em 1em;
  width: 40vw;
  border-radius: 1em;
  background: var(--sg-);
  box-shadow: var(--shadow1-);
  text-align: center;
}
.question_panel p:nth-child(1){
  margin-left: 5px;
}
.question_panel p{
  font-weight: 300;
  font-size: 1.2em;
  color: var(--dc-);
}
.content{
  margin-left: 1em;
  color: var(--gr-) !important;
}
.content::first-letter{
  text-transform: capitalize;
}
._search{
  position: relative;
  display: inline-block;
}
._searchField{
  width: 25em;
  border-radius: 1.25rem;
  border: 1px solid var(--lg-);
  outline: none;
  padding: 0.6em 0.8em 0.5em;
  font-size: 1.2em;
  color: var(--gr-);
}
._searchField:hover{
  box-shadow: var(--shadow1-);
  border: 1px solid var(--dc-);
}
._microphone{
  position: absolute;
  height: 26px;
  width: 26px;
  left: auto;
  right: 0.6rem;
  bottom: 0.6rem;
  font-size: 1.5em;
  color: var(--gr-);
}
._microphone:hover{
  cursor: pointer;
  color: var(--dc-);
}











/* END */
